.ontime {
  &-tag {
    display: inline-flex;
    align-items: center;
    padding: 2px 4px;
    margin: 0;
    font-size: 12px;
    color: $tag-color;
    background-color: rgba($color-ghost, 0.1);
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: rgba($color-ghost, 0.3);
    }

    &:active {
      background-color: rgba($color-ghost, 0.5);
    }

    .ontime-icon {
      margin-left: 6px;
    }
  }
} 
