.ontime {
  &-tag {
    display: inline-flex;
    align-items: center;
    padding: 2px 4px;
    margin: 0;
    font-size: 12px;
    color: $tag-color;
    background-color: $tag-bg;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $tag-hover;
    }

    &:active {
      background-color: $tag-active;
    }

    .ontime-icon {
      margin-left: 6px;
    }
  }
} 
